.outerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    padding: 36px;
    border-radius: 10px;
    box-shadow: 0px 0px 200px rgb(17, 27, 213);
    color: rgb(242, 246, 23);
  }
  
  .outerBox h2 {
    font-weight: 800;
    margin-top: 5px;
  }
  
  .nftUplodeBox {
    border: 2px dashed rgb(46, 14, 151);
    padding: 35px 60px;
    position: relative;
    
  }
  
  .imageLogoAndText p {
    margin-bottom: 0px;
  }
  
  .nftUploadInput {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color:blueviolet
  }
  